//Partials
/* @import  _partial.scss
*
*/
@import '_colores.scss';
@import 'mixins';
body {
    background-color: $color-corporativo;
}
//Nesting
header {
    background-color: $color-acentuado;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    & nav {
        background-color: $color-acentuado;
    }
}

// Extend
.modelo {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 2px black;
}

.success {
    @extend .modelo;
    border: 1px solid green;
}
.error {
    @extend .modelo;
    border: 1px solid red;
}

p {
    //Llamando al mixin
    @include margen(5px, 2px)
}
